@import "nib"
@import "normalize"
@import "icon"

vendor-prefixes = webkit o ms moz official
// animacion(parametro)
// 	-webkit-animation parametro
// 	-moz-animation parametro
// 	-o-animation parametro
// 	-ms-animation parametro
// 	animation parametro
body 
	background-color #00BFFF
	font-size 16px
.u-display-none
	display none !important
.Content
	margin 0 1em
	max-width 900px
	text-align center
	
.Logo-container
	display inline-block
	padding 0
	margin 1em 0 .5em 0
/*.Logo
	width 100%*/
.Post
	color #444
	margin 0
	padding 0
.Title
	margin 0
	padding-bottom .5em
.Description
	color white
	line-height 1.5em
	margin 0
	padding 0
.Rocket-container
	margin 0
	padding 0
.Counter
	background-color #1E90FF
	//border 4px solid rgba(black, .3)
	border-radius 50%
	display inline-block
	height 5em
	margin 0
	padding 0
	position relative
	width 5em
.Time
	background-color white
	border-radius 50% / 100% 100% 0 0
	color #444
	font-size 2.5em
	font-weight bold
	height 2.5rem
	margin 0
	padding 0
	width 5rem
.Time-name
	bottom 17px
	color white
	font-weight bold
	left 0
	position absolute
	right 0
.Form
	border-top 1px solid #444
	border-bottom 1px solid #444
	margin-top 2rem
	padding 1rem 0
	//text-align:  left
	font-size 0
.Label
	color #444
	font-weight bold
	font-size 1.2rem
	display block
	margin-bottom .5rem
.Input
	border none
	font-size 1rem
	height 2.5rem
	font-weight bold
	padding-left .3rem
	width 11rem
	margin 0
	color #444
.Submit
	background-color #B22222
	border none
	color #f5f5f5
	font-weight bold
	height 2.6rem
	margin 0
	font-size 1rem
	vertical-align top
.List
	margin 1em 0
	padding .5em
.Item
	display inline-block
	list-style none
	color #444
	font-weight bold
	font-size 1.2em
.Link
	color #444
	text-decoration none
	padding .3rem
	border 2px solid white
	border-radius 50%
	transition all .3s
	font-size 1.5rem
	&:hover
		color white
		border-color #444
		transform scale(1.1)
.Made
	color #444
.Power
	color #f5f5f5
	text-decoration none
	transition all .3s
	&:hover
		text-decoration: underline
	
	




	

	


	
	

	